@import "../../styles/variables.css";

.survey-wrapper {
  margin-bottom: 40px;
}

.survey-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
  border: 2px solid var(--gray-color);
  border-radius: 12px;
  flex-wrap: wrap; /* 화면이 좁으면 이미지 밑으로 내려가게 */
}

/* 질문 텍스트 */
.survey-question {
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--main-text-color);
  width: 100%;
}

/* 옵션 박스 */
.survey-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-width: 250px;
}

/* 옵션 라벨 */
.survey-option {
  display: flex;
  align-items: center;
  min-width: 250px;
  gap: 8px;
  cursor: pointer;
}

.survey-option input[type="radio"],
.survey-option input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* 원형 */
  border: 2px solid black;
  background-color: white;
  position: relative;
  cursor: pointer;
}

/* 선택 상태 */
.survey-option input[type="radio"]:checked,
.survey-option input[type="checkbox"]:checked {
  background-color: black;
}

/* 체크 표시 */
.survey-option input[type="radio"]:checked::after,
.survey-option input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  pointer-events: none;
}

.survey-img {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.sub-survey-container {
  margin-top: 20px;
}
