@import "../../styles/variables.css";

.graph-with-description-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-wrapper {
  flex-grow: 1;
  position: relative;
}

.graph-description {
  margin-top: 50px;
  min-width: 700px;
  min-height: 100px;
  padding: 30px 20px;
  border-radius: 15px;
  box-sizing: border-box;

  white-space: pre-line;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;

  color: #555;
  background-color: #ddedff;
}
