/* src/components/dataPage/KoreaMap.css */

.korea-map-layout-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 900px;
  width: 800px;
}

.map-chart-wrapper {
  flex-grow: 1; /* 남는 공간을 모두 차지하여 지도 높이를 결정 */
  min-height: 0; /* 중첩 flex 버그 방지 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 12px 0;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-color-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.legend-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

/* 그래프와 동일한 설명란 스타일 */
.map-description {
  margin-top: 50px;
  margin-bottom: 50px;
  min-width: 700px;
  min-height: 100px;
  padding: 40px 137px;
  border-radius: 15px;
  box-sizing: border-box;

  white-space: pre-line;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;

  color: #555;
  background-color: #ddedff;
}
